div#bingo-container {
  background: url("/images/background.png") fixed no-repeat;
  width: 640px;
  height: 292px; }
  div#bingo-container td.open, div#bingo-container td.closed {
    cursor: pointer;
    width: 54px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 5px;
    font-size: 30px; }
  div#bingo-container td.open {
    color: #000;
    text-shadow: 0px 0px 5px #fff;
    font-weight: bold; }
  div#bingo-container td.closed {
    background-color: #444444;
    color: #888; }
