div#bingo-container {
  background: url("/images/background.png") fixed no-repeat;
  width: 640px;
  height: 292px;

  td {
    position: relative;
    cursor: pointer;
    width: 54px;
    height: 54px;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 54px;
      height: 54px;
      border-radius: 5px;

      span.char-box {
        display: table-cell;
        width: 54px;
        height: 54px;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
      }
    }

    div.base {
      text-shadow: 0px 0px 5px #fff;
      font-weight: bold;
      color: #000;
    }

    div.overlay {
      z-index: 10;
      background-color: #222;
      color: #444;
    }
  }
}

.overlay-enter {
  transition: 0.5s ease-in;
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
}

.overlay-leave {
  transition: 0.5s ease-in;
  opacity: 1;
}

.overlay-leave-active {
  opacity: 0;
}
